.layout{
  height: 100%;
  background: #fff;
}
:host ::ng-deep .ant-menu-vertical{
    border: none!important;
}
.nav_listCon{
    background: #fff;
    height: 100%;
    margin-left: 0px;
}
.layout_content{
    background: #ffffff;
    padding: 20px;
}
