<nz-breadcrumb class="my_location">
    <nz-breadcrumb-item>企业中心</nz-breadcrumb-item>
    <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
</nz-breadcrumb>

<div nz-row>
    <app-dropdown [dropDowns]= "businessListModel.dropDowns" (selectID)="getDropDown($event)"
                  (selectValue)="getDropDownValue($event)">
    </app-dropdown>
</div>

<div nz-row class="card_title_12">
    <div nz-col [nzSpan]="12">
        <a (click)="openAddModal()">新增</a>
        <a (click)="openEditModal()" class="padding_left_10">编辑</a>
        <a (click)="deleteUsers($event)" class="padding_left_10">删除</a>
        <a (click)="lockUsers($event)" class="padding_left_10">锁定</a>
        <a (click)="unlockUsers($event)" class="padding_left_10">解锁</a>
        <a (click)="resetUsersPassword($event)" class="padding_left_10">重置密码</a>
    </div>
    <div nz-col [nzSpan]="12" class="text_right">
        <span>共有用户<span class="card_title_14_sum">{{userTotal}}</span>个</span>
    </div>
</div>

<div nz-row [ngStyle]="{'height': windowHeight+'px'}">
    <app-table
        [tableInput]="userHeadDataModel.tableInput"
        [rowData]="userManagementModel"
        (selectAllEvent)="selectAllItems($event)"
        (cellClickEvent)="cellClickEvent($event)"
        (rightEventDel)="rightEventDel($event)"
        (rightEventEdit)="rightEventEdit()"
        (rowDoubleClickEvent)="doubleClick($event)"
        (getDowLength)="getDowLength($event)">
    </app-table>
</div>

