<div nz-row>
    <div nz-col [nzSpan]="24">
        <div class="card_title_18_bold">{{modalTitle}}</div>
    </div>
    <div nz-col [nzSpan]="24" class="card_title_14">
        <a class="margin_right_20" (click)="addPortal()">新增</a>
        <a class="margin_right_20" (click)="editPortal()">编辑</a>
        <a class="margin_right_20" (click)="deletePortal()">删除</a>

    </div>

    <div nz-col [nzSpan]="24">
        <div nz-row style="height: 250px; width: 98%;">
            <app-table
                [tableInput]='tableHeader'
                [rowData]='tableData'
                (cellClickEvent)="viewSelect($event)"
                (selectAllEvent)="selectRow($event)"
                (rowDoubleClickEvent)="doubleClick($event)"
                (rightEventDel)="rightEventDel()"
                (rightEventEdit)="rightEventEdit()"></app-table>
        </div>
    </div>

    <nz-modal [nzVisible]="isViewVisible"
              [nzTitle]="viewTitle"
              [nzContent]="viewContent"
              [nzFooter]="viewFooter"
              (nzOnCancel)="handleViewCancel()">
        <ng-template #viewTitle>
            {{whiteListName}}
        </ng-template>
        <ng-template #viewContent>
            <ul class="width_margin">
                <li *ngFor="let item of whiteListValue">{{item}}</li>
            </ul>
        </ng-template>
        <ng-template #viewFooter>
            <button nz-button
                    [nzType]="'default'"
                    [nzSize]="'large'"
                    (click)="handleViewCancel($event)">
                关 闭
            </button>
        </ng-template>
    </nz-modal>
</div>
