<div class="modal_con">
    <div nz-row>
        <div nz-col [nzSpan]="10" class="card_title_14_bold">
            用户名
        </div>
        <div nz-col [nzSpan]="12" class="card_title_14_bold">
            密码
        </div>
        <div nz-col [nzSpan]="2" class="card_title_14_bold">

        </div>
    </div>
    <div nz-row *ngFor="let item of userPasswordItems">
        <div nz-col [nzSpan]="10" class="card_title_14">
            {{item.username}}
        </div>
        <div nz-col [nzSpan]="12" class="card_title_14"
            >{{item.password}}<input type="hidden" value="{{item.password}}"  id="{{item.username}}"/>
        </div>
        <div nz-col [nzSpan]="2" class="card_title_14 copy2Clipboard">
            <i class="icon-systemLog pointer" ></i>
        </div>
    </div>
</div>
