@import '../../../../base';
/*点击AP出现样式*/
.net_position{
    width: 320px;
    height: 270px;
    background: #ffffff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid $color_dark_grey;
}
.position_right{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.close_heigth{
    height: 20px;
}
/*没有地图样式*/
.no_map_con{
    border: 1px solid #ccc;
}
.overview_hidden{
    overflow: hidden;
}










